<div class="container">
  <div class="sidebar">
    <div class="title-container">
      <div class="title">관리자 페이지</div>
      <div class="title-bar">청소년 톡talk</div>
    </div>
    <br>
    <!-- Menu items -->
    <div class="category-item" onclick="toggleMenu('member')">
      <div class="category-title">회원 관리</div>
      <div class="arrow-button"></div>
    </div>
    <div class="menu-items-container" id="member">
      <div class="menu-item">회원 정보 관리</div>
      <div class="menu-item">회원 가입 설정</div>
      <br>
    </div>
    
    <div class="category-item" onclick="toggleMenu('policy')">
      <div class="category-title">정책 관리</div>
      <div class="arrow-button"></div>
    </div>
    <div class="menu-items-container" id="policy">
      <div class="menu-item">정책 정보 관리</div>
      <div class="menu-item">배너 관리</div>
      <br>
    </div>
    
    <div class="category-item" onclick="toggleMenu('operation')">
      <div class="category-title">운영 관리</div>
      <div class="arrow-button"></div>
    </div>
    <div class="menu-items-container" id="operation">
      <div class="menu-item">코드 정보 관리</div>
    </div>
    
    

    <script>
      function toggleMenu(id) {
        const container = document.getElementById(id);
        container.classList.toggle("active");
    
        const arrowButton = container.previousElementSibling.querySelector(".arrow-button");
        arrowButton.classList.toggle("arrow-down");
      }
    </script>

    <!-- Logout button -->
    <div class="logout-btn">
      <div style="width: 24px; height: 24px; position: relative">
        <div style="width: 18px; height: 14px; left: 3px; top: 5px; position: absolute">
          <img style="width: 14px; height: 6px; left: 0px; top: 4px; position: absolute; border: 0.60px #585856 solid" src="https://via.placeholder.com/14x6" />
          <div style="width: 12px; height: 14px; left: 6px; top: 0px; position: absolute; border: 0.60px #585856 solid"></div>
          <img style="width: 14px; height: 6px; left: 0px; top: 4px; position: absolute; border: 0.60px #585856 solid" src="https://via.placeholder.com/14x6" />
          <div style="width: 12px; height: 14px; left: 6px; top: 0px; position: absolute; border: 0.60px #585856 solid"></div>
        </div>
      </div>
      <div>관리자 페이지 로그 아웃</div>
    </div>
  </div>
  <div class="content">
    <div class="content-title"><%= pageTitle %></div>
    <div class="white-content"> 