<div style="margin-top: auto;"><table><tr bgcolor="#5D5D5D" height="10%"><td colspan="5"><table><tr><td width="6%"></td><td width="10%"><a href="https://portal.dongguk.edu/wps/download/Securityguide.pdf" target="_blank"><img src="/img/footer-text1.png" style=" max-width: 100%; width: auto; height: auto; vertical-align: bottom;"></a></td><td width="2%"></td><td width="10%"><a href="#" data-toggle="modal" data-target="#modal-email"><img src="/img/footer-text2.png" style=" max-width: 100%; width: auto; height: auto; vertical-align: bottom;"></a></td><td></td></tr></table></td></tr>
    <tr><td colspan="5"><img src="/img/footer.png" style=" max-width: 100%; width: auto; height: auto; vertical-align: bottom;"></td></tr></table></div>

<div class="modal fade" id="modal-email" tabindex="-1" role="dialog" aria-labelledby="modal-emailTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="modal-emailTitle">이메일 무단수집거부</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                동국대학교 홈페이지에 게시된 이메일 주소가 자동수집 되는 것을 거부하며, 이를 위반 시 정보통신망법에 의해 처벌됨을 유념하시기 바랍니다.<p></p>
                동국대학교 홈페이지에 게재된 모든 내용은 저작권법에 의해서 보호됨을 알려드립니다.
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" aria-label="Close" class="btn btn-block btn-lg btn-dongguk1" value="">닫기</a>
            </div>
        </div>
    </div>
</div>