<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Admin Page</title>
  <link rel="stylesheet" href="/semantic/layout.css">
  <link rel="stylesheet" href="/semantic/semantic.min.css">
  <link rel="stylesheet" href="/css/home/mem.css">
  <link rel="stylesheet" href="/css/home/admin.css">
  <script type="text/javascript" src="/dist/js/HuskyEZCreator.js" charset="utf-8"></script>
  <script src="/js/home/mem.js" defer></script>
  
</head>
<body>
  <nav>
    <img id='vector' class='vector' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABaEAAAACCAYAAABBjhC0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAA7SURBVHgB7cAxEcAwCADAZOEOF5FS57VSDSyM1ETG/93dZwEAAAAAwGWZ+e2qemfmLAAAAAAAuCginh88jgsHixD3/gAAAABJRU5ErkJggg=='/>
    </img>
    <!-- <img id='vector2' class='vector2' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAYAAACpF6WWAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAG1SURBVHgBrVS7dcJAEDydyI1TIrkCy3xyQmeGCixVAK4AqABcgUUFhgpMAYBVgjJSkQPyDCx+GJ2QeWLe23d7x+4wu6c9S53Bdd2y1tqzLOuFW1gZFsPCJEnGy+UyUDmwTje1Wq2DpU8iEMQgngmhA2tKWIRzfz6fz3JJq9VqD8EkDLG+nSehAqdUKnn4s54ctReLxSSTVBSOYOPtdtsNwzBWGSC5bdvf9BH7hNjoPEYziCVDQZRHSJAElbThlkE+NMVoXgoDsPp5hEdIa2gtXmyKlLdMlZcan4F3UeWlSGEuiCN1JdCqkCtyH02kRKRuCM3S1eEjvxb7XiJ/nSKFfJbhmhp+UY3WeyEyIH9/g40lqKuuAMh6rNI0AFoOOUWdRqPxrzZw+tRhdAem37Wo9Lnudruver3ezCEcyjjHWY/L7+xTJT6TTyQ42Abwp6xAHR4UDkeL1VChPDa8gwCV+pmkhMx1H+6rSQHJQD7AoIzwXgQSlyK2TMkkR3ITatjjO9ga/mSz2YSno3yJuBBIDEtgH8czWxXEarWaVCqVB7geVgf7qaVuhNNWFFZ6hCi+x2U+/wCNHcaMUrA8SgAAAABJRU5ErkJggg=='/>
    </img> -->
    <img id='frame' class='frame' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAQACAYAAAAgBjM/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAlSURBVHgB7cRBDQAACAQgZ/+0V0DN4eBBJZmuI0mSJEmSJOlbC6N8C9SP7V1EAAAAAElFTkSuQmCC'/>
    </img>
    <img id='vector4' class='vector4' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABVcAAAACCAYAAABc3OxqAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAtSURBVHgB7cAxEQAgDASwgnKkYLEG/rBA92R19ykAAAAAAL4lubsAAAAAABh7iCsG8ZKfxPwAAAAASUVORK5CYII='/>
    </img>
    <div id='관리자페이지' class='관리자페이지'>
    관리자 페이지</div>
    <div id='청소년톡talk' class='청소년톡talk'>
    청소년 톡Talk</div>
    <div id='회원관리' class='회원관리'>
    회원 관리</div>

    <a href="/admin/dataif">
    <div id='회원정보관리' class='회원정보관리'>
    회원 정보 관리</div></a>

    <a href="/admin/dataif/terms">
    <div id='회원가입설정' class='회원가입설정'>
    회원 가입 설정</div></a>

    <a href="/admin/policy/show">
    <div id='정책정보관리' class='정책정보관리'>
    정책 정보 관리</div></a>
    
    <div id='정책관리' class='정책관리'>
    정책 관리</div>
    <div id='권한관리' class='권한관리'>
    권한 관리</div>
    <!-- <div id='admin1' class='admin1'>
    Admin1</div>
    <div id='ellipse5' class='ellipse5'>     -->
</nav>
<section>
  <div class="pagename">정책 등록</div>
  <div>
    <form action="/admin/policy/upload" method="post">
      <div class="ui form">
        <div class="field">
          <label>정책 이름</label>
          <input type="text" name="name" placeholder="정책 이름">
          <label>정책 대상</label>
          <input type="text" name="target" placeholder="정책 대상">
          <label>주관 기관</label>
          <input type="text" name="supervision" placeholder="주관 기관">
          <label>정책 설명</label>
          <input type="text" name="description" placeholder="정책 설명">
          <!-- <label>정책 타입</label>
          <input type="text" name="type" placeholder="정책 타입"> -->
          <label>지원금</label>
          <input type="text" name="fund" placeholder="지원금">
          <br><br>
          <textarea id="txtContent" rows="10" cols="100" style="width: 100%;"></textarea>
          <script id="smartEditor" type="text/javascript"> 
            var oEditors = [];
            nhn.husky.EZCreator.createInIFrame({
                oAppRef: oEditors,
                elPlaceHolder: "txtContent",  //textarea ID 입력
                sSkinURI: "/dist/SmartEditor2Skin.html",  //skin경로 입력
                fCreator: "createSEditor2",
                htParams : { 
                  // 툴바 사용 여부 (true:사용/ false:사용하지 않음) 
                    bUseToolbar : true, 
              // 입력창 크기 조절바 사용 여부 (true:사용/ false:사용하지 않음) 
              bUseVerticalResizer : true, 
              // 모드 탭(Editor | HTML | TEXT) 사용 여부 (true:사용/ false:사용하지 않음) 
              bUseModeChanger : true 
                }
            });
          </script>
        </div>
        <!-- <div class="field">
          <label>정책 파일</label>
          <input type="file" name="file">
        </div> -->
        <div>
          <button class="ui button" type="submit">등록</button>
          <button class="ui button" type="button" onclick="location.href='/admin/policy/show'">취소</button>
          <!-- <button class="ui button" type="reset">취소</button> -->
        </div>
      </div>
    </form>
  </div>
</section>