<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Admin Page</title>
  <link rel="stylesheet" href="/semantic/layout.css">
  <link rel="stylesheet" href="/semantic/semantic.min.css">
  <link rel="stylesheet" href="/css/home/mem.css">
  <link rel="stylesheet" href="/css/home/admin.css">
  <script src="/ckeditor/build/ckeditor.js"></script>
  <!-- <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script> -->
  <!-- <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script> -->
  <script src="/js/home/mem.js" defer></script>
</head>
<body>
  <nav>
    <img id='frame' class='frame' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAQACAYAAAAgBjM/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAlSURBVHgB7cRBDQAACAQgZ/+0V0DN4eBBJZmuI0mSJEmSJOlbC6N8C9SP7V1EAAAAAElFTkSuQmCC'/>
    </img>
    <img id='vector4' class='vector4' src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABVcAAAACCAYAAABc3OxqAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAtSURBVHgB7cAxEQAgDASwgnKkYLEG/rBA92R19ykAAAAAAL4lubsAAAAAABh7iCsG8ZKfxPwAAAAASUVORK5CYII='/>
    </img>
    <div id='관리자페이지' class='관리자페이지'>
    관리자 페이지</div>
    <div id='청소년톡talk' class='청소년톡talk'>
    청소년 톡Talk</div>
    <div id='회원관리' class='회원관리'>
    회원 관리</div>

    <a href="/admin/dataif">
    <div id='회원정보관리' class='회원정보관리'>
    회원 정보 관리</div></a>

    <a href="/admin/dataif/terms">
    <div id='회원가입설정' class='회원가입설정'>
    회원 가입 설정</div></a>

    <a href="/admin/policy/show">
    <div id='정책정보관리' class='정책정보관리'>
    정책 정보 관리</div></a>
    <a href="/admin/policy/banner">
    <div id="배너등록" class="배너등록">배너 등록</div></a>
    <div id='정책관리' class='정책관리'>
    정책 관리</div>
    <div id='권한관리' class='권한관리'>
    권한 관리</div>
    <!-- <div id='admin1' class='admin1'>
    Admin1</div>
    <div id='ellipse5' class='ellipse5'>     -->
</nav>

<section>
    <div>
        <div class="pagename">회원 등록</div>
        <div>
            <form action="/admin/auth/signup" method="post" name="frm_signup" id="frm_signup">
                <div>
                  <div class="ui input">
                    <input type="text" name="name" id="name" placeholder="이름"">
                  </div>
                  <br>
                  <div class="ui input">
                    <input type="text" name="userid" id="userid" placeholder="아이디"">
                  </div>
                  <br>
                  <div class="ui input">
                    <input name="password" id="password" type="password" placeholder="비밀번호"">
                  </div>
                  <div class="ui input">
                    <input name="password2" id="password2" type="password" placeholder="비밀번호 확인"">
                  </div>
                  <br>
                  <div class="field">
                    <select class="ui fluid dropdown" name="user_role" id="user_role">
                      <option value="0">관리자</option>
                      <option value="1">사용자</option>
                    </select>
                  </div>
                  <br>
                  <div class="field">
                    <select class="ui fluid dropdown" name="user_type" id="user_type">
                      <option value="0">청소년</option>
                      <option value="1">학부모</option>
                      <option value="2">청소년 부모</option>
                    </select>
                  </div>
                  <br>
                  <div class="field">
                    <select class="ui fluid dropdown" name="emd_class_code" id="emd_class_code">
                      <option value="0">영암읍</option>
                      <option value="1">삼호읍</option>
                      <option value="2">덕진면</option>
                      <option value="3">금정면</option>
                      <option value="4">신북면</option>
                      <option value="5">시종면</option>
                      <option value="6">도포면</option>
                      <option value="7">군서면</option>
                      <option value="8">서호면</option>
                      <option value="9">학산면</option>
                      <option value="10">미암면</option>
                    </select>
                  </div>
                  <br>
                  <div class="field">
                    <select class="ui fluid dropdown" name="sex_class_code" id="sex_class_code">
                      <option value="0">남자</option>
                      <option value="1">여자</option>
                      <option value="2">선택 안함</option>
                    </select>
                  </div>
                  <br>
                  <div class="ui input">
                    <input type="text" name="user_email" id="user_email" placeholder="이메일"">
                  </div>
                  <br>
                  <!-- <input type="checkbox" name="popup_agree" id="popup_agree">
                  <label>팝업</label>
                  <input type="checkbox" name="email_agree" id="email_agree">
                  <label>이메일</label>
                  <input type="checkbox" name="sms_agree" id="sms_agree">
                  <label>문자</label> -->
                <div>
                    <button class="ui button" type="submit">등록</button>
                    <!-- <button class="ui button" type="button" onclick="location.href='/admin/auth/login'">취소</button> -->
                    <button class="ui button" type="button" onclick="location.href='/admin/dataif'">취소</button>
                </div>
            </form>
        </div>
    </div>
</section>
</div>
</body>

</html>