<!--회원 가입 설정 화면-->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Admin Page</title>
  <link rel="stylesheet" href="/semantic/layout.css">
  <link rel="stylesheet" href="/semantic/semantic.min.css">
</head>
<body>
  <div id="wapper">
  <nav>
    <div id="adminpage"><h1>Admin Page</h1></div>
    <div class="header">  회원 관리</div>
      <ul>
        <li><a href="/admin/show">회원 정보 관리</a></li>
        <li><a href="/admin">회원 가입 설정</a></li>
      </ul>
    <div class="header">  코드 관리</div>
      <ul>
        <li><a href="/code_management">코드 정보 관리</a></li>
      </ul>
    <div class="header"> 권한 정보</div>
</nav>
<section>
    <div></div>
</section>
</div>
</body>

</html>
