<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Admin Page</title>
  <link rel="stylesheet" href="/semantic/layout.css">
  <link rel="stylesheet" href="/semantic/semantic.min.css">
  <link rel="stylesheet" href="/css/home/index.css">
</head>
<body>
  <div id="wapper">
  <nav>
    <div id="adminpage"><h1>Admin Page</h1></div>
    <div class="header">  회원 관리</div>
      <ul>
        <li><a href="/admin/dataif">회원 정보 관리</a></li>
        <li><a href="/admin/dataif/terms">회원 가입 설정</a></li>
      </ul>
    <div class="header">  정책 관리</div>
      <ul>
        <li><a href="/code_management">정책 정보 관리</a></li>
      </ul>
    <div class="header"> 권한 정보</div>
</nav>
<section>
    <div>
      <div class="pagename">회원 가입 설정</div>
      <!-- 약관 테이블 -->
      <table>
        <tbody>
          <tr>
            <td>회원 가입 약관</td>
            <td><textarea name="terms" id="terms" cols="30" rows="10"></textarea></td>
          </tr>
          <tr>
            <td>개인정보 처리 방침</td>
            <td><textarea name="privacy" id="privacy" cols="30" rows="10"></textarea></td>
          </tr>
        </tbody>
      </table>
    </div>
</section>
</div>
</body>

</html>
