<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Admin Page</title>
  <link rel="stylesheet" href="/semantic/layout.css">
  <link rel="stylesheet" href="/semantic/semantic.min.css">
  <link rel="stylesheet" href="/css/home/layout.css">
  <link rel="stylesheet" href="/css/home/codeData/codeData.css">
  <script src="/ckeditor/build/ckeditor.js"></script>
</head>
<body>
  <div id='rectanglel5' class='rectanglel5'></div>
  <div id='rectangleb5' class='rectangleb5'></div>
  <%- include('../layout.ejs') %>
<section>
    <div>
        <div class="pagename">페이지 준비 중</div>

    </div>
</section>
</div>
</body>
</html>