.ck-editor__editable_inline
{
    min-height: 300px;
}

.desktop-6
{
position:absolute;
background-color:#ffffff;
height:1024px;
width:1440px;
padding:0px;
}
/* .vector
{
height:41px;
width:803px;
left:997px;
top:0px;
position:absolute;
}
.vector2
{
background-color:#333333;
height:21px;
width:21px;
left:1017px;
top:0px;
position:absolute;
} */
.frame
{
background-color:#ffffff;
height:1024px;
width:1px;
padding:0px;
left:253px;
position:relative;
}
.vector3
{
height:1024px;
height:1024px;
left:0px;
top:0px;
position:absolute;
}
.vector4
{
width:1366.2900390625px;
left:720px;
top:0px;
position:absolute;
}
.관리자페이지
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
left:17px;
top:32px;
position:absolute;
width:81px;
}
.청소년톡talk
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Inter;
left:17px;
top:56px;
width:167px;
height:34px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.회원관리
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-weight: bold;
font-family:Inter;
left:43px;
top:142px;
width:95px;
height:29px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.회원정보관리
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:63px;
top:195px;
width:122px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.회원가입설정
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:63px;
top:233px;
width:122px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.정책정보관리
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:63px;
top:349px;
width:122px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.정책관리
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-weight: bold;
font-family:Inter;
left:43px;
top:296px;
width:95px;
height:29px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.권한관리
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-weight: bold;
font-family:Inter;
left:43px;
top:421px;
width:95px;
height:29px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
/* .admin1
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:20px;
font-family:Inter;
left:1334px;
top:54px;
width:106px;
height:26px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.ellipse5
{
background-color:#8fe479;
height:52px;
width:52px;
top:38px;
left:1266px;
position:absolute;
border-radius:50%;
} */
