body {
  margin: 0px;
}
/*div 내림 방지*/
#wapper {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

a {
text-decoration: none;
color: black;
}

.header {
color: black;
font-size: 18px;
font-weight: bold;
margin-bottom: 12px;
margin-top: 40px;
margin-left: 10px;
}

nav{
  /* position:absolute; */
background-color:#ffffff;
padding:0px;
float: left;
width: 20vw;
top: 0;
left: 0;
overflow: hidden;
}
section{
float: left;
width: 75vw;
height:1024px;
padding-left: 2em;
padding-right: 1em;
padding-top: 1em;
background-color: white;
margin: 0;
top: 0;
left: 0;
overflow: auto; 
}

ul{
margin-right: 10px;
}