@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 공통, 하이퍼링크 색상 고정 */
a {
    text-decoration: none;
    color: black;
  }
  
  .ck-editor__editable_inline {
    min-height: 300px;
  }
  
  .vector {
    height: 41px;
    width: 803px;
    left: 330px;
    top: 40px;
    position: absolute;
  }
  
  .frame {
    background-color: #ffffff;
    height: 1024px;
    width: 1px;
    padding: 0px;
    left: 253px;
    position: relative;
  }
  
  .vector3 {
    height: 1024px;
    height: 1024px;
    left: 0px;
    top: 0px;
    position: absolute;
  }
  
  .관리자페이지 {
    color: #000000;
    text-align: left;
    vertical-align: text-top;
    font-size: 12px;
    font-family: Inter;
    line-height: auto;
    font-weight: bold;
    border-style: hidden;
    outline: none;
    left: 17px;
    top: 32px;
    position: absolute;
    width: 81px;
  }
  
  .청소년톡talk {
    color: #000000;
    text-align: left;
    vertical-align: text-top;
    font-size: 35px;
    font-family: 'CookieRun-Regular';
    left: 25px;
    top: 56px;
    padding-top: 8px;
    width: 200px;
    height: 34px;
    position: absolute;
    line-height: auto;
    border-style: hidden;
    outline: none;
  }

  .common-manager-style {
    color: #000000;
    text-align: left;
    vertical-align: text-top;
    left: 43px;
    height: 29px;
    width: 95px;
    font-size: 20px;
    font-weight: bold;
    font-family: Inter;
    position: absolute;
    line-height: auto;
    border-style: hidden;
    outline: none;
  }
  .회원관리 {
    top: 142px;
  }
  .정책관리 {
    top: 325px;
  }
  .운영관리 {
    top: 481px;
  }
  
  .common-style {
    color: #000000;
    text-align: left;
    vertical-align: text-top;
    font-size: 16px;
    font-family: Inter;
    width: 122px;
    height: 24px;
    position: absolute;
    line-height: auto;
    border-style: hidden;
    outline: none;
    left: 63px;
}
.회원정보관리 { top: 195px; }
.회원가입설정 { top: 230px; }
.푸시알림 { top: 265px; }
.정책정보관리 { top: 380px; }
.배너등록 { top: 415px; }
.코드정보관리 { top: 535px; }
.공지사항 { top: 570px; }
.통계 { top: 605px; }
.출석체크 { top: 686px; }

  
  .ellipse5 {
    background-color: #8fe479;
    height: 52px;
    width: 52px;
    top: 38px;
    left: 1266px;
    position: absolute;
    border-radius: 50%;
  }

  /* 선택 분류 */
.common-background-bar {
    background-color: #FBEEE7;
    height: 37px;
    width: 253px;
    left: 0px;
    position: absolute;
}
.common-border-bar {
    background-color: #f0ccb4;
    height: 37px;
    width: 5px;
    left: 249px;
    position: absolute;
}
.background-bar-memManage { top: 185px; }
.border-bar-memManage { top: 185px; }
.background-bar-terms { top: 220px; }
.border-bar-terms { top: 220px; }
.background-bar-push { top: 255px; }
.border-bar-push { top: 255px; }
.background-bar-policyManage { top: 370px; }
.border-bar-policyManage { top: 370px; }
.background-bar-banner { top: 405px; }
.border-bar-banner { top: 405px; }
.background-bar-codeManage { top: 525px; }
.border-bar-codeManage { top: 525px; }


  nav {
    /* position:absolute; */
    background-color: #ffffff;
    padding: 0px;
    float: left;
    width: 20vw;
    margin: 0px;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  
  section {
    float: left;
    top: 50px;
    left: 340px;
    width: 75vw;
    background-color: white;
    height: calc(100vh - 50px); /* Subtract the top offset */
    margin: 0;
    position: absolute;
    overflow: hidden;
  }

  /* 확대 시 좌우 스크롤 바 */
  body {
    overflow-x: auto;
  }