#mem_paging {
    padding-left: 380px;
    margin-top: 15px;
    /* text-align: center; */
}
#mem_table{
    text-align: center;
    width: 1000px;
}
#mem_reg_btn{
    float: left;
    margin-top: 15px;
}
