<!-- 회원가입 정보 입력 첫번째 페이지 -->
<!-- 이름, 닉네임, 아이디, 비밀번호, 이메일 -->
<!DOCTYPE html>
<html>
    <head>
        <title>join_enter_info_page</title>
    </head>
    <body>
       <div>
        <label> 이름 <input id = "user_name" type = "text"></label>
      </div>
      <div>
        <label> 닉네임 <input id = "user_nick" type = "text"></label>
      </div>
      <div>
        <label> 아이디 <input id = "user_id" type = "text"></label>
      </div>
      <div>
        <label> 비밀번호 <input id = "user_pw" type = "text"></label>
        <input id = "user_pw_check" type = "text">
      </div>
      <div>
        <label> 이메일 <input id = "user_email" type = "text"></label>
      </div>

      <a href="join_enter_info2.html"><input type = "button" value = "다음"></a>
    </body>
</html>
