body {
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: 0;
}

#wapper {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.pagename {
  font-weight: bold;
  font-size: 26px;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 15px 3px;
}

table th,
table td {
  padding: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

table th {
  background-color: #F57521;
  color: #fff;
  border: none;
}

table td {
  border-bottom: 1px solid rgba(0,0,0,.1);
  background: #fff;
}

table thead {
  font-weight: bold;
  color: #fff;
  background: #73685d;
}

#search_userinfo, #search_userinfo select, #search_userinfo input {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: 3px;
  height: 1.5em;
  width: 80%;
  padding: 0 10px;
}

#search_userinfo .checkbox, #search_userinfo li{
  margin-left: 7px;
  margin-bottom: 7px;
}

#search_button, #add_user, #add_users {
  float: right;
  margin-top: 20px;
}

.ui.button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  font-weight: bold;
}

.ui.button.orange {
  background-color: #F57521;
  color: #fff;
}

.ui.button:hover {
  box-shadow: 0 1px 10px rgba(70, 130, 180, 0.4);
}

.ui.pagination.menu {
  justify-content: center;
  padding: 20px 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.ui.pagination.menu .item {
  padding: 8px 16px;
  margin: 0 4px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: all 0.3s ease;
}
